<center>
    <footer>
    	<hr>
        <div class="row">
            <div class="col-lg-12">
            	<p><b>Gadget Palace store, Belagavi</b></p>
            	<div id="map" style="width:300px;height:200px"></div>
            	<br>
                <p>Designed by <b>Sharp Solution 2016</b></p>
            </div>
        </div>
    </footer>
</center>
