<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Gadget Palace | Admin</title>
    {{>jslinks}}
    {{>csslinks}}
</head>
<body>
	{{>common/navbar}}

    {{{body}}}


</body>
{{!--     <footer class="footer">
  <div class="" style="background-color:#ffe11b">
    <p class="text-center">Designed by <b>Sharp Solutions pvt ltd</b></p>
  </div>
</footer> --}}
</html>